//----- Variables / Colors

$brand-primary     : #000;
$brand-secondary   : #fff;

$colors: (
  link: ( //----- Link colors
    text        : $brand-primary,
    text-hover  : $brand-secondary
  ),
  text: ( //----- Text colors
    primary     : $brand-primary,
    secondary   : $brand-secondary
  ),
  border: ( //----- Border colors
    primary     : $brand-primary,
    secondary   : $brand-secondary
  ),
  error: ( //----- Error colors
    background  : $brand-primary,
    text        : $brand-secondary
  ),
  socials: ( //----- Socials colors
    facebook    : #3B5998,
    fb-messenger: #0084FF,
    twitter     : #1DA1F2,
    youtube     : #CD201F,
    whatsapp    : #43D854
  )
);
