$mobileSmall: '(max-width: 375px)';
$mobile: '(max-width: 750px)';
$overMobile: '(min-width: 751px)';
$tablet: '(min-width : 751px) and (max-width : 1024px)';
$desktop: '(min-width: 1025px)';
@mixin bp($point) {
  @if $point == mobileSmall {
    @media #{$mobileSmall}{
      @content;
    }
  }
  @if $point == mobile {
    @media #{$mobile}{
      @content;
    }
  }
  @if $point == overMobile {
    @media #{$overMobile}{
      @content;
    }
  }
  @if $point == tablet {
    @media #{$tablet}{
      @content;
    }
  }
  @if $point == desktop {
    @media #{$desktop}{
      @content;
    }
  }
}