//----- Colors
$black: #000;
$white: #fff;

//----- Examples...
//----- Brand colors
$color--brand-primary: $white;
$color--brand-secondary: $white;
$color--brand-tertiary: $white;
//----- Link colors
$color--link: $white;
$color--link-hover: $white;
//----- Text colors
$color--text: $black;
$color--text-light: $black;
//----- Border colors
$color--border-primary: $black;
$color--border-brand: $black;
$color--border-dark: $black;
$color--border-light: $black;