//----- Mixin / First and Last elements in row
//----- First item in row (padding and margin left: 0;) &
//----- Last item in row (padding and margin right: 0;)
//----- @include first-last(padding-margin); use both - paddings and margins
//----- @include first-last(padding); use just paddings
//----- @include first-last(margin); use just margins
@mixin first-last($value) {
  @if ($value == 'padding-margin') {
    &:first-child {
      padding-left: 0 !important;
      margin-left: 0 !important;
    }
    &:last-child {
      padding-right: 0 !important;
      margin-right: 0 !important;
    }
  }
  @if ($value == 'padding') {
    &:first-child {
      #{$value}-left: 0 !important;
    }
    &:last-child {
      #{$value}-right: 0 !important;
    }
  }
  @else if ($value == 'margin') {
    &:first-child {
      #{$value}-left: 0 !important;
    }
    &:last-child {
      #{$value}-right: 0 !important;
    }
  }
}