//----- Pagination(s)
.w-pagination {
  &__row {
    display: table;
    width: 100%;
    overflow: hidden;
    // text-align: center;
  }
  &__item {
    display: inline-block;
    background-color: #ccc;
    &:not(:last-child) {
      margin-right: .5rem;
    }
    &.current {
      background-color: red;
    }
  }
  &__link {
    padding: .5rem 1rem;
    display: block;
  }
}
