<div class="w-drop-menu">
  <ul class="w-drop-menu__row">
    <li class="w-drop-menu__column">
      <a href="" class="w-drop-menu__link">drop-menu-link</a>
      <a href="" class="w-drop-menu__link">drop-menu-link</a>
      <a href="" class="w-drop-menu__link">drop-menu-link</a>
      <a href="" class="w-drop-menu__link">drop-menu-link</a>
    </li>
    <li class="w-drop-menu__column">
      <a href="" class="w-drop-menu__link">drop-menu-link</a>
      <a href="" class="w-drop-menu__link">drop-menu-link</a>
      <a href="" class="w-drop-menu__link">drop-menu-link</a>
      <a href="" class="w-drop-menu__link">drop-menu-link</a>
    </li>
    <li class="w-drop-menu__column">
      <a href="" class="w-drop-menu__link">drop-menu-link</a>
      <a href="" class="w-drop-menu__link">drop-menu-link</a>
      <a href="" class="w-drop-menu__link">drop-menu-link</a>
      <a href="" class="w-drop-menu__link">drop-menu-link</a>
    </li>
    <li class="w-drop-menu__column">
      <a href="" class="w-drop-menu__link">drop-menu-link</a>
      <a href="" class="w-drop-menu__link">drop-menu-link</a>
      <a href="" class="w-drop-menu__link">drop-menu-link</a>
      <a href="" class="w-drop-menu__link">drop-menu-link</a>
    </li>
  </ul>
</div>