<form id="" class="w-form" action="" method="" novalidate="">
  <fieldset id="" class="w-form__content">
    <div class="w-form__block">
      <label class="w-form__label" for="sender-name">Name: <span>*</span></label>
      <input class="w-form__input" type="text" name="name" placeholder="" value="" required="">
    </div>
    <div class="w-form__block">
      <label class="w-form__label" for="sender-email">Email: <span>*</span></label>
      <input class="w-form__input" type="text" name="email" placeholder="" value="" required="">
    </div>
    <div class="w-form__block">
      <label class="w-form__label" for="sender-subject">Subject: <span>*</span></label>
      <input class="w-form__input" type="text" name="subject" placeholder="" value="" required="">
    </div>
    <div class="w-form__block">
      <label class="w-form__label" for="sender-topic">Topic: <span>*</span></label>
      <select name="topic" class="w-form__select" required="">
        <option value="">-- Choose Topic --</option>
        <option value="1">Topic1</option>
        <option value="2">Topic2</option>
      </select>
    </div>
    <div class="w-form__block">
      <label class="w-form__label" for="sender-message">Message: <span>*</span></label>
      <textarea name="message" rows="" cols="" class="w-form__textarea" required=""></textarea>
    </div>

    <div class="w-form__block">
      <button class="w-form__button" type="submit" name="submit-contact">Submit</button>
    </div>
  </fieldset>
</form>