<nav class="w-nav">
  <ul class="w-nav__items">
    <li class="w-nav__item">
      <a href="#" class="w-nav__link">nav-link</a>
    </li>
    <li class="w-nav__item">
      <a href="#" class="w-nav__link">nav-link</a>
    </li>
    <li class="w-nav__item">
      <a href="#" class="w-nav__link">nav-link</a>
    </li>
    <li class="w-nav__item">
      <a href="#" class="w-nav__link">nav-link</a>
    </li>
    <li class="w-nav__item">
      <a href="#" class="w-nav__link">nav-link</a>
    </li>
    <li class="w-nav__item">
      <a href="#" class="w-nav__link">nav-link</a>
    </li>
    <li class="w-nav__item">
      <a href="#" class="w-nav__link">nav-link</a>
    </li>
    <li class="w-nav__item">
      <a href="#" class="w-nav__link">nav-link</a>
    </li>
  </ul>
</nav>
