<nav class="w-pagination">
  <ul class="w-pagination__row">
    <li class="w-pagination__item current">
      <a href="" class="w-pagination__link">1</a>
    </li>
    <li class="w-pagination__item">
      <a href="" class="w-pagination__link">2</a>
    </li>
    <li class="w-pagination__item">
      <a href="" class="w-pagination__link">3</a>
    </li>
    <li class="w-pagination__item">
      <a href="" class="w-pagination__link">4</a>
    </li>
    <li class="w-pagination__item">
      <a href="" class="w-pagination__link">5</a>
    </li>
  </ul>
</nav>
