//----- Navigation / same style for all navs
.w-nav {
  &__items {
    display: table;
    width: 100%;
    padding: 0 1%;
  }
  &__item {
    display: inline-block;
    line-height: 3rem;
    padding: 0 1%;
    cursor: pointer;
    &:hover {
      .w-drop-menu {
        max-height: 100%;
      }
    }
  }
  &__link {
    height: 100%;
    display: block;
  }
}
